<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Admin panel</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Admin panel</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="/admin">Users table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/new">New User</a>
        </li>
    </ul>

    <div class="border p-3">
        <h5>Все пользователи</h5>
    </div>

    <div class="p-3 bg-white border">

        <!-- Общее модальное окно для редактирования и удаления -->
        <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="userModalLabel">Изменить пользователя</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="userForm">
                            <div class="mb-3">
                                <label th:for="id" class="col-form-label">Id</label>
                                <input class="form-control" type="text" id="id" disabled>
                            </div>
                            <div class="mb-3">
                                <label th:for="username" class="col-form-label">Name</label>
                                <input class="form-control" type="text" id="username" placeholder="Username">
                            </div>
                            <div class="mb-3">
                                <label th:for="email" class="col-form-label">Email</label>
                                <input class="form-control" type="email" id="email" placeholder="Email">
                            </div>
                            <div class="mb-3">
                                <label th:for="password" class="col-form-label">Password</label>
                                <input class="form-control" type="password" id="password" placeholder="Password">
                            </div>
                            <div class="mb-3">
                                <label th:for="roles" class="col-form-label">Roles</label>
                                <select class="form-control" id="roles" multiple></select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-danger" id="deleteButton" onclick="confirmDeleteUser()" style="display:none;">Удалить</button>
                        <button type="button" class="btn btn-primary" id="updateButton" onclick="updateUser()">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>



        <!-- Таблица пользователей -->
        <div class="p-3 bg-white border">
            <table class="table table-striped border-top" id="userTable">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <!-- Сюда будет вставляться список пользователей -->
                </tbody>
            </table>
        </div>

    </div>
</div>
</body>
</html>