<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>New User</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1>Admin panel</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/new">New User</a>
                </li>
            </ul>

            <div class="border p-3 bg-light">
                <h5>Добавить нового пользователя</h5>
            </div>

            <div class="border container text-center bg-white">
                <div class="row justify-content-md-center m-3">
                    <div class="col col-5">
                        <form id="userForm">
                            <div class="mb-3">
                                <label th:for="username" class="col-form-label">Name</label>
                                <input class="form-control" type="text" id="username" placeholder="Username">
                            </div>
                            <div class="mb-3">
                                <label th:for="email" class="col-form-label">Email</label>
                                <input class="form-control" type="email" id="email" placeholder="Email">
                            </div>
                            <div class="mb-3">
                                <label th:for="password" class="col-form-label">Password</label>
                                <input class="form-control" type="password" id="password" placeholder="Password">
                            </div>
                            <div class="mb-3">
                                <label th:for="roles" class="col-form-label">Roles</label>
                                <select class="form-control" id="roles" multiple></select>
                            </div>
                            <button type="button" class="btn btn-primary" id="saveButton" onclick="addUser()">Сохранить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>