<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Новый пользователь</title>
    </head>
    <body>
        <div layout:fragment="content">
            <b>Добавить пользователя</b>
            <br>
            <form th:method="POST" th:action="@{/admin}" th:object="${user}">
                <label for="name">Имя:</label>
                <input type="text" th:field="*{username}" id="name"/>
                <br>

                <label for="email">Email:</label>
                <input type="email" th:field="*{email}" id="email"/>
                <br>

                <label for="password">Password:</label>
                <input type="text" th:field="*{password}" id="password"/>
                <br>

                <label for="roles">Roles:</label>
                <select id="roles" multiple="multiple" th:field="*{roles}">
                    <option th:each="role: ${rolesFromDb}" th:value="${role.getId()}" th:text="${role.getName()}"></option>
                </select>
                <br>
                <br>
                <input type="submit" value="Добавить">
            </form>
        </div>
    </body>
</html>