<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Изменить пользователя</title>
    </head>
    <body>
        <div layout:fragment="content">
            <b>Изменить пользователя</b>
            <br>
            <form action="#"
                  th:action="@{/user/{id}(id=${user.getId()})}"
                  th:object="${user}"
                  method="post">
                <label for="firstname">Name</label>
                <input type="text" th:field="*{username}" id="firstname" placeholder="Name">
                <br>

                <label for="mail">Email</label>
                <input type="text" th:field="*{email}" id="mail" placeholder="Email">
                <br>

                <label for="password">Password</label>
                <input type="password" th:field="*{password}" id="password" placeholder="Password">
                <br>
                <input type="submit" value="Сохранить">
            </form>
        </div>
    </body>
</html>