<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Карточка пользователя</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1>User-information page</h1>

            <div class="border p-3">
                <h5>Профиль пользователя</h5>
            </div>

            <div class="p-3 bg-white border">
                <table class="table table-striped border-top">
                    <thead>
                    <th>ID</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Roles</th>
                    </thead>

                    <tbody>
                    <tr>
                        <td th:text="${userFromPrincipal.getId()}"></td>
                        <td th:text="${userFromPrincipal.getUsername()}"></td>
                        <td th:text="${userFromPrincipal.getEmail()}"></td>
                        <td th:text="${userFromPrincipal.getRoles()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>