<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Карточка пользователя</title>
    </head>
    <body>
        <div layout:fragment="content">
            <b>Карточка пользователя</b>
            <br>
            <p th:text="${user.getId()}"></p>
            <p th:text="${user.getUsername()}"></p>
            <p th:text="${user.getEmail()}"></p>
            <br>
            <a th:href="@{/user/{id}/edit(id=${user.getId()})}">Изменить</a>
        </div>
    </body>
</html>