<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<div>
    <div sec:authorize="!isAuthenticated()">
        <h4><a href="/login">Войти</a></h4>
        <h4><a href="/registration">Зарегистрироваться</a></h4>
    </div>
    <div sec:authorize="isAuthenticated()">
        <h4><a href="/logout">Выйти</a></h4>
    </div>
    <h4 sec:authorize="hasRole('ROLE_USER')"><a href="/user">Профиль</a></h4>
    <h4 sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">Пользователи</a></h4>
</div>
</body>
</html>