<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org">
  <head>
      <title>Регистрация</title>
  </head>
  <body>
      <div layout:fragment="content">
          <h1>Регистрация</h1>
          <div class="border container text-center bg-white">
              <div class="row justify-content-md-center m-3">
                  <div class="col col-5">
                      <form th:method="POST" th:action="@{/registration}" th:object="${newUser}">
                          <div class="form-group mb-3">
                              <label for="name" class="form-label"><b>Имя:</b></label>
                              <input type="text" th:field="*{username}" id="name" class="form-control"/>
                          </div>

                          <div class="form-group mb-3">
                              <label for="email" class="form-label"><b>Email:</b></label>
                              <input type="email" th:field="*{email}" id="email" class="form-control"/>
                          </div>

                          <div class="form-group mb-3">
                              <label for="password" class="form-label"><b>Password:</b></label>
                              <input type="password" th:field="*{password}" id="password" class="form-control"/>
                          </div>
                          <button type="submit" class="btn btn-success">Подтвердить</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </body>
</html>